.Media {
  cursor: pointer;
  margin-right: 5px;
  display: inline-block;
  width: 260px;
  vertical-align: top;
  font-size: 1em;
}

.Media:hover .Media-cover {
  box-shadow: 0 0 100px rgba(0,0,0,.3);
}

.Card{
  max-width: 345px,
}